# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.ipa
*.dSYM.zip
*.dSYM

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
fastlane/README.md
vendor/bundle/

# Ruby
.bundle/
*.gem

# OS
.DS_Store
